# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyt

# Virtual environments
venv/
.env/
.venv/

# OS files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3

# Secrets and configs
db_config.json
db_config2.json
./src/check.ipynb
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings (if using VS Code)
.vscode/

# Testing
htmlcov/
.tox/
.coverage
pytest_cache/

# Pip environment
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Environment management
*.env
.envrc
